@import 'partials/reset';
@import 'partials/header';
@import url("https://fonts.googleapis.com/css?family=Oleo+Script:400|Open+Sans:300,300italic,600,600italic,800");


body {
  background-color: #E4E4E4;
  color: #444444;
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
}

.container {
  margin: 0 auto;
  width: 96%;
}

//header
header {}

#menu-trigger {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 57px;
  height: 37px;
  background-color: rgba(0, 0, 0, 0.2);
  color: rgba(255, 255, 255, 0.7);
  border-radius: 5px;
  margin: 7px 0 0 7px;
}

.header {
  display: flex;
  align-items: center;
  flex-flow: column;
  width: 100%;
}

.brand {
  background-color: #FC4887;
  width: 90px;
  height: 25px;
  border-radius: 5px;
  padding: 10px;
  h1 {
    font-family: "Oleo Script", sans-serif;
    font-size: 44px;
    line-height: 30px;
    color: white;
  }
}

.nav-items {
  display: none;
}


//section banner
.banner {
  display: flex;
  flex-flow: column;
  align-items: center;
  text-align: center;
  background-color: white;
  margin: 60px 0 20px 0;
  border-radius: 5px;
  box-shadow: 0px 3px 2px -1px #adadad;
  .banner_text {
    h2 {
      margin: 36px 0 20px 0;
      font-size: 29px;
      font-weight: bold;
    }
    p {
      font-size: 22px;
      color: #626262;
    }
  }
  .banner_buttons {
    width: 100%;

  }
}

.button {
  width: 96%;
  height: 55px;
  border-radius: 5px;
  font-size: 18px;
  font-weight: bold;
  border: 0;
  color: #444444;
  i {
    padding-right: 5px;
  }
}

.button_first {
  margin-top: 27px;
  background-color: #1691C3;
  color: white;
}

.button_second {
  background-color: #E4E4E4;
  margin: 18px 0;
}

//Section Features
.features {}

.feature_box {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  margin-bottom: 40px;
  box-shadow: 0px 3px 2px -1px #adadad;
  img {
    max-width: 100%;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
  }
}

.feature_text {
  background-color: white;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  width: 100%;
  h2 {
    font-size: 20px;
    font-weight: bold;
    padding: 30px 0 10px 15px;
  }
  p {
    font-size: 15px;
    line-height: 25px;
    margin-bottom: 25px;
    padding-left: 15px;
  }
}


//Content section
.content {
  background-color: white;
  padding: 0 15px;
  box-shadow: 0px 3px 2px -1px #adadad;
}

.about_us {
  padding: 40px 0;
  border-bottom: 1px solid #E4E4E4;
  h2 {
    font-size: 19px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  p {
    font-size: 15px;
    line-height: 32px;
    margin-bottom: 20px;
    &:last-of-type {
      margin-bottom: 0;
    }
    .bold {
      font-weight: 600;
    }
  }
  button {
    width: 100%;
  }
}

.stuff {
  padding-bottom: 40px;
  h2 {
    margin-top: 40px;
    margin-bottom: 20px;
    font-size: 19px;
    font-weight: bold;
  }
  .images {
    display: flex;
    flex-flow: row nowrap;
    margin-bottom: 10px;
  }
  .image_box {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    margin-right: 10px;
    &:last-of-type {
      margin-right: 0;
    }
    img {
      max-width: 100%;
      border-radius: 10px;
      margin-bottom: 10px;
    }
  }
  button {
    width: 100%;
  }
}

//footer
#footer {}

.website_map {
  padding: 0 15px;

  .random_stuff {
    border-bottom: 1px solid #c9c9c9;
    padding-bottom: 40px;
    h3 {
      margin: 40px 0;
      font-size: 19px;
      font-weight: bold;
    }
    ul {
      li {
        a {
          color: #444444;
          font-size: 15px;
          line-height: 30px;
        }
      }
    }
  }
  .contact {
    border-bottom: 1px solid #c9c9c9;
    padding-bottom: 40px;
    h3 {
      margin: 30px 0;
      font-size: 19px;
      font-weight: bold;
    }
    .social_icons {
      margin-bottom: 20px;
      a {
        .fab {
          font-size: 1.2em;
          color: white;
          width: 40px;
          height: 40px;
          background-color: #5e5c5c;
          border-radius: 10px;
          line-height: 40px;
          text-align: center;
        }
      }
    }
  }
  adress {
    p {
      color: #444444;
      font-size: 15px;
      line-height: 30px;
    }
  }

}

.copyrights {
  padding-top: 10px;
  p {
    color: #9f9f9f;
    font-size: 15px;
    line-height: 30px;
  }
}


//Media min-width 737px
@media only screen and (min-width: 737px) {
  .container {
    margin: 0 auto;
    width: 92%;
  }
  .brand {
    height: 35px;
    h1 {
      line-height: 35px;
    }
  }
  //  Banner
  .banner {
    padding-bottom: 50px;
    margin-bottom: 40px;
    .banner_text {
      h2 {
        margin: 70px 0 20px 0;
        font-size: 50px;
      }
      p {
        font-size: 38px;
        width: 500px;
        line-height: 55px;
        margin-bottom: 25px;
      }
    }
  } //buttons
  .button {
    width: 90%;
    height: 90px;
    font-size: 30px;
  } //features
  .feature_box {
    margin-bottom: 70px;
  }
  .feature_text {
    h2 {
      padding: 60px 0 10px 25px;
    }
    p {
      line-height: 30px;
      margin-bottom: 35px;
      padding-left: 25px;
    }
  } //content
  .content {
    padding: 0 10px;
    margin-bottom: 70px;
  }
  .about_us {
    padding: 60px 0;
    h2 {
      font-size: 32px;
      margin-top: 15px;
      margin-bottom: 35px;
    }
    p {
      line-height: 30px;
      margin-bottom: 45px;
    }
    button {
      height: 70px;
      font-size: 21px;
    }
  }
  .stuff {
    padding-bottom: 80px;
    h2 {
      margin-top: 50px;
      margin-bottom: 25px;
      font-size: 21px;
    }
    button {
      height: 70px;
      font-size: 21px;
    }
  } //footer
  .website_map {
    padding: 0 10px;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;

    .random_stuff {
      width: 50%;
      border-bottom: 0;
      padding-bottom: 50px;
      h3 {
        margin: 30px 0;
        font-size: 19px;
        font-weight: bold;
      }
    }
    .contact {
      border-bottom: 0;
    }
  }
  .copyrights {
    padding-top: 0;
    padding-bottom: 100px;
    display: flex;
    flex-flow: column;
    align-items: center;
  }
}
